.menu-body {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.startup-container {
    padding: 1em;
    background-color: #ffffff;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox > span {
    margin-right: 1em;
}
