html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
 
ul {
  margin: 0;
  padding: 0;
}

b {
  font-weight: bold;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
